@using Umbraco.Web
@using vs.controllers
@model vs.models.MemberLogin.MemberLogin




@*@using (Html.BeginForm("Login","MemberLogin"))
    {
        @Html.TextBox("Name");
        @Html.Password("Password");
        <input type="submit" value="Sign In">
    }*@
@using (Html.BeginUmbracoForm<MemberLoginController>("Login"))
{
    <div>
        
            
            @Html.TextBoxFor(x => x.UserName)
        
             @Html.PasswordFor(x => x.Password)
            <input type="submit" value="Login" class="button success" />
    </div>
}



<script>
   
</script>