@inherits Umbraco.Web.Macros.PartialViewMacroPage


        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="Text-Four-Columns">
                <h2>
                    @Model.MacroParameters["Header"]
                </h2>
                <p>
                    @Model.MacroParameters["Body"]
                </p>
            </div>
        </div>
