html, body{
    width: 100%;
    overflow-x: hidden;
}
html {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;

    .site-wrapper {
        header {
            position: relative;
            .menu-icon {
                padding: 10px 0 10px 0;
                font-size: 26px;
                cursor: pointer;
            }

            .gradient {
                height: 5px;
                width: 100%;
                position: absolute;
                top: 100%;
                background: -moz-linear-gradient(top, rgba(214,214,214,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(214,214,214,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
        }

        main {
            margin-top: 30px;
        }
        &:before{
            content: ' ';
            display:table;
            clear:both;
        }
    }

    nav {
        top: 0;
        position:fixed;
        background-color: #000;
        width: 350px;
        transform: translate(-350px);
        height:100vh;
        z-index: 1000;
        

        .menu-close {
            cursor: pointer;
            color: #fff;
            padding: 10px;
            font-size: 2.8rem;
            float: right;
        }
    }
}
